<div id="defaultView" ng-show="logState.isLogged"> 
    MAIN VIEW With user login.. 
    <br/>
    <hr>
    <div id="welcome_message">
        <p> Welcome "{{ userinfo.username }}" !! </p>
    </div>

    <!-- ondemand view weekly/mothly/badges -->
     
</div>
<p ng-show="!logState.isLogged"> Main view without user login.. </p>
<!-- banner views -->   
<div id="defaultView">
    <div class="container-fluid">
        <div id="ondemand" class="row"> 
            <div class="col-lg-2 col-md-12 col-sm-12" id="side_banner">
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12" id="ondemandSection">
                <div class="row" id="onDemandSlider">
                </div>
                <div class="row" id="rankings">
                    <div class="col-lg-6 col-md-6 col-sm-12" id="weekly">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12" id="badges">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-12 col-sm-12" id="side_banner">
            </div>
        </div>
        <!-- other popular videos -->
        <div id="popular" class="row">
        </div>

        <div id="others" class="row">
        </div>
    </div>
</div>
