<% block('remoteScripts', '<script src="/libs/ng-admin/build/ng-admin.min.js"></script>') %>
<% block('remoteStyles', '<link href="/libs/ng-admin/build/ng-admin.min.css" rel="stylesheet">') %>


<div class="adminapp" ng-app="leagueAdmin">
    <div class="admin-panel" ng-controller="AdminController">
        <div id="view_container">
            <div ui-view></div>
        </div>
    </div>
</div>