<div class="adminapp" ng-app="leagueAdmin">
    <div class="admin-panel" ng-controller="AdminController">
        <div id="view_container">
            <div ui-view></div>
        </div>
    </div>
</div>