<div ng-app="app" id="content">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">LeagueMontage</a>
    </div>

    <div class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/kirill#/">Home</a></li>
      <li><a href="/kirill#/search">Browse</a></li>
      <li><a ng-show="isLogged" href="/kirill#/submit">Upload</a></li>
    </ul>

    </div>

  </div>
</nav>

<div ng-view></div>

</div>