<div ng-app="app" id="content" ng-controller="MainController">

<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand" href="#">LeagueMontage</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/">Home</a></li>
        <li><a href="/#/search">Browse</a></li>
        <li><a ng-show="logState.isLogged" href="/#/submit">Upload</a></li>
        <li><a ng-show="logState.isLogged" href="#" ng-click="logout()">Logout</a></li>
        <li><a ng-show="!logState.isLogged" href="/#/login">Login</a></li>
      </ul>
    </div>

  </div>
</nav>
</header>

<div ng-view style="height:100%;"></div>

</div>