<!DOCTYPE html>
<html>
  <head>
    <title>League Montage</title>
    <base href="/">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/css/dragndrop.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/submit.css">
    <link rel="stylesheet" href="/libs/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.css">
    <!--STYLES END-->

    <!-- Remote Style -->
    <%- blocks.remoteStyles %>
    <!-- Remote Style end -->

    <!--SCRIPTS-->
    <script src="/libs/sails.io.js"></script>
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-route/angular-route.js"></script>
    <script src="/libs/angular-resource/angular-resource.js"></script>
    <script src="/libs/ng-file-upload/angular-file-upload.js"></script>
    <script src="/libs/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="/libs/angular-utils-pagination/dirPagination.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/adminApp.js"></script>
    <script src="/js/AppServices.js"></script>
    <script src="/js/AppControllers.js"></script>
    <script src="/js/AppDirectives.js"></script>
    <script src="/js/AppFilters.js"></script>
    <script src="/js/appRoutes.js"></script>
    <script src="/js/controllers/AdminController.js"></script>
    <script src="/js/controllers/LoginViewController.js"></script>
    <script src="/js/controllers/MainController.js"></script>
    <script src="/js/controllers/SearchController.js"></script>
    <script src="/js/controllers/SubmissionViewController.js"></script>
    <script src="/js/controllers/SubmitController.js"></script>
    <script src="/js/controllers/UserViewController.js"></script>
    <script src="/js/directives/GridElementDirective.js"></script>
    <script src="/js/directives/SignupDirective.js"></script>
    <script src="/js/services/AuthService.js"></script>
    <script src="/js/services/BadgeTypeService.js"></script>
    <script src="/js/services/ChampionRoleService.js"></script>
    <script src="/js/services/ChampionService.js"></script>
    <script src="/js/services/CommentService.js"></script>
    <script src="/js/services/SubmissionService.js"></script>
    <script src="/js/services/SubmissionTypeService.js"></script>
    <script src="/js/services/UserService.js"></script>
    <script src="/js/services/UtilService.js"></script>
    <script src="/js/filters/BadgeFilter.js"></script>
    <script src="/js/filters/RatingFilter.js"></script>
    <!--SCRIPTS END-->

    <!-- Remote Script -->
    <%- blocks.remoteScripts %>
    <!-- Remote Script end -->
  </head>

  <body>
     <div class="container">
     <%- body %>
     </div>
  </body>
</html>
