<div class="container-fluid" ng-show="isLogged">
    <h2> FEED VIEW </h2>
    <!-- if no following -->
    <div class="nofollowing" ng-show="">
        <em class="">You have no following, try follow some users :)</em>
        <div class="row">
            <div class="userlist">
                <!-- suggest users ... -->
            </div>
        </div>
    </div>
        
    <!-- has following, get all submission from list and display -->
    <div class="followlist" ng-show="">
        <div class="row">
            <!-- facebook feed like list view -->
        </div>
    </div>
</div>

<div warning message="You must log in first" redirect="/#/login" 
     ng-show="!logState.isLogged" time="3"></div>
