<div class="searchField">
    <form ng-submit="submit()">
        <ul id="search-option">
            <li>Search: <input type="text" name="keyword" ng-model="keyword" ng-init="keyword=''"></li>
            <li>
                <select ng-model="getData.champ_type" 
                    ng-options="champion.id as champion.name for champion in champions"> 
                    <option value=''> -- </option>           
                </select>
            </li>
            <li>
                <select ng-model="getData.champ_role"
                    ng-options="role.id as role.name for role in roles">
                    <option value=''> -- </option>
                </select>
            </li>
            <li>
                Order by 
            </li>
            <li>
                <select ng-model="getData.badgeType"
                    ng-options="badgeType.id as badgeType.name for badgeType in badgeTypes">
                    <option value=''> -- </option>
                </select>
                <!-- TODO: order by badges -->
            </li>
            <li><button type="submit">Search</button></li>

            <li>
                <!-- order by rating --> 
            </li>
            <li>
                <!-- TODO: time period option -->
            </li>
        </ul>
    </form>
</div>

<div class="searchResult" ng-show="showResult">
    <div ng-show="!hasData">
        No search results
    </div>

    <div class="bar">

        <!-- These two buttons switch the layout variable,
             which causes the correct UL to be shown. -->
        <p>{{submissions.length}} founds</p>
        <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
        <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
    </div>
    <div ng-show="hasData">
        <!-- using bootstrap -->
        <div class="row" id="result" ng-show="layout == 'grid'">
            <div grid-element class="col-md-3" dir-paginate="submission in submissions 
                                                                    | orderByRating 
                                                                    | itemsPerPage: perPage">
                <div class="thumbnail">
                    <div class="caption">
                        <h4> {{submission.title}} </h4>
                        <p> {{submission.createdBy.display_name}} </p>
                        <p> Rating: {{submission.ratings}}</p>
                        <div id="badge">
                            <i class="fa fa-magic" rel='tooltip' title="Creative">
                                {{submission.badges.Creative.badgeCount}}</i>
                            <i class="fa fa-thumbs-o-up" rel='tooltip' title="Humor">
                                {{submission.badges.Humor.badgeCount}}</i>
                            <i class="fa fa-gear" rel='tooltip' title="Editing">
                                {{submission.badges.Editing.badgeCount}}</i>
                            <i class="fa fa-bolt" rel='tooltip' title="Skilled">
                                {{submission.badges.Skilled.badgeCount}}</i>
                        </div>
                        <p><a href="{{submission.link}}" class="label label-default" title="view">view</a></p>
                    </div>
                    <img ng-src="{{submission.thumbnail_url}}" />
                </div>
            </div>
        </div>
        <!-- end of grid -->

        <!-- start of list -->
        <div class="row" id="result" ng-show="layout == 'list'">
        </div>
        <!-- end of list -->
        
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
