<div class="searchField">
    <form ng-submit="submit()">
        <ul id="search-option">
            <li>Search: <input type="text" name="keyword" ng-model="keyword" ng-init="keyword=''"></li>
            <li>
                <select ng-model="getData.champ_type" 
                    ng-options="champion.id as champion.name for champion in champions"> 
                    <option value=''> -- </option>           
                </select>
            </li>
            <li>
                <select ng-model="getData.champ_role"
                    ng-options="role.id as role.name for role in roles">
                    <option value=''> -- </option>
                </select>
            </li>
            <li>
                Order by 
            </li>
            <li>
                <select ng-model="getData.badgeType"
                    ng-options="badgeType.id as badgeType.name for badgeType in badgeTypes">
                    <option value=''> -- </option>
                </select>
                <!-- TODO: order by badges -->
            </li>
            <li><button type="submit">Search</button></li>

            <li>
                <!-- order by rating --> 
            </li>
            <li>
                <!-- TODO: time period option -->
            </li>
        </ul>
    </form>
</div>

<div class="searchResult" ng-show="showResult">
    <div ng-show="!hasData">
        No search results
    </div>

    <div ng-show="hasData">
        <table id="result">
            <tr id="result-header">
                <td> Title </td>
                <td> URL </td>
                <td> Username </td>
                <td> Ratings </td>
                <td> Badges </td>
            </tr>
            <tr ng-repeat="submission in submissions | orderByRating " style="padding-right:10px;">
                <!-- TODO: show necessary information about submission --> 
                <td> <a href="{{submission.link}}">{{ submission.title }}</a></td>
                <td> {{ submission.url }} </td>
                <td> {{ submission.createdBy.display_name }} </td>
                <td> {{ submission.ratings }} </td>
                <td> 
                    <ul>
                        <li ng-repeat="(name, badge) in submission.badges" style="display:inline; margin:5px;">  
                            {{ name }} , {{ badge.badgeCount }} 
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
