
<form ng-submit="submit()">
<ul>

  <li>Title:<input type="text" name="title" ng-model="postData.title"></li>
  
  <li>
    <!-- upload file -->

  </li>
  
  <li>
    <select ng-model="postData.champ_type" 
            ng-options="champion.id as champion.name for champion in champions">
    </select>
  </li>

  <li>
    <select ng-model="postData.champ_role"
            ng-options="role.id as role.name for role in roles">
    </select>
  </li>

  <li><button type="submit">Create</button></li>

</ul>
</form>

<div class="btn btn-default" 
         type="file" name="uploadFile" ng-file-select ng-model="file.data">select </div>
    <p> {{ file.data[0] }} </p>
<div class="btn btn-default" ng-click="upload()">Upload</div>
<img ng-show="postData.url" ng-src="{{ postData.url }}" width=400 height=300 />
<!--
<form id="uploadForm" enctype="multipart/form-data" action="/api/v1.0/upload" method="POST">
    <input type="file" name="uploadFile" />
    <input type="submit" value="upload"/>
</form>
-->