<div class="banner_left">
</div>

<div class="container-fluid">
    <div class="alert alert-warning" ng-show="!isAccessible">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Warning!</strong> You need to login first.
    </div>
    <!-- display all infomation about a particular submission -->
    <div class="sub_title">
        <h2>{{ subData.title }}</h2>
    </div>

    <div class="sub_body">
        <div class="row">
            <div class="col-lg-7">
                <video ng-show="subData.url" ng-src="{{ subData.url }}"  controls width="600" height="400">
                </video>
            </div>
            <div class="col-lg-5" style="margin-top:40px;">
                created at : {{ subData.createdAt | date:'MM/dd/yyyy @ h:mma'}} <br/>
                url : {{ subData.url }} <br/>
                title : {{ subData.title }} <br/>
                created by : {{ userName }} <br/> 
                description : {{ subData.description }} <br/>

                <p>Ratings: {{ ratings }} </p>
                <p>Views: {{ views }} </p>

                <!-- TODO: badge, rating, view counts, etc -->   
                 <ul>
                    <li ng-repeat="(name, badge) in badges" style="display:inline; margin:10px;">
                        <div class="btn btn-default" ng-click="badgeHandler(badge)">{{name}}</div>{{badge.badgeCount}}
                    </li>
                </ul>
                <br/>

            </div>
        </div>
    </div>
    



    <br/>
    <br/>
    
    <div class="sub_footer">
        <!-- TODO: social integration -->
        <div class="comments list">
            <p> Comments </p>
             <textarea ng-model="newComment" rows="8" cols="50" class="input-no-width rounded shaded left clearboth" id="msg"></textarea>
            <div class="btn btn-default" id="comment_apply" ng-click="submitComment()">Leave comment</div>
            <div class="col-lg-8">
            <table class="comment table">
            <!-- TODO: test with mysql, iterate over comments -->
                <tr ng-repeat="comment in comments | orderBy: '+createdAt'">
                    <td> {{ comment.written_by.display_name }} </td>
                    <td> {{ comment.createdAt | date:'MM/dd/yyyy @ h:mma'}} </td>
                    <td> 
                        <div ng-show="editing==comment.id">
                            <textarea ng-model="comment.text" rows="2" cols="50" class="input-no-width rounded shaded left clearboth" id="msg"></textarea>
                        </div>
                        <div ng-show="!(editing==comment.id)">{{ comment.text }}</div> 
                    </td>
                    <td>
                        <div ng-show="comment.written_by.display_name==logState.username" 
                        class="btn btn-default" ng-click="deleteComment(comment)">delete</div>
                    </td>
                    <td>
                        <div ng-show="comment.written_by.display_name==logState.username">
                        <div ng-show="!(editing==comment.id)" class="btn btn-default" ng-click="editComment(comment)">edit</div>
                        <div ng-show="editing==comment.id" class="btn btn-default" ng-click="editDone(comment)">Done</div>
                        </div>
                    </td>
                 </tr>
            </table>
        </div>
        </div>
    </div>
</div>

<div class="banner_right">
</div>