<div class="banner_left">
</div>
    <!-- error messages -->
    <div class="alert alert-warning" ng-show="!isAccessible">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Warning!</strong> You need to login first.
    </div>
    <div class="alert alert-warning" ng-show="!isValidSubmission">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Warning!</strong> Requested submission does not exist.
    </div>
    <!-- display all infomation about a particular submission -->

    <div class="container-fluid" ng-show="isValidSubmission">

        <div class="sub_title">
            <h2>{{ subData.title }}</h2>
        </div>

        <div class="sub_body">
            <div class="row">
            <div class="col-md-8">
                <video ng-show="subData.url" ng-src="{{ subData.url }}"  controls>
                </video>
            </div>
            <div class="col-md-4" style="margin-top:40px;">
                <div class="row">
                    <div id="submission_info" class="col-sm-6">
                        {{ subData.createdAt | date:'MM/dd/yyyy @ h:mma'}} <br/>
                        <div id="desc-box">
                            description : {{ subData.description }} <br/>
                        </div>
                        created by : {{ userName }} <br/>  <!-- TODO:link to user profile page -->
                

                    </div>
                <!-- TODO: badge, rating, view counts, etc -->   
                
                    <div badge-icons id="badgelist" class="col-sm-6">
                        Ratings: {{ ratings }} <br/>
                        Views: {{ views }} <br/>
                        <span id="badgeIcon">
                        <i class="fa fa-magic fa-3x" rel='tooltip' title="Creative" ng-click="badgeHandler('Creative')">
                            {{badges['Creative'].badgeCount}}</i>
                        </span>
                        <span id="badgeIcon">
                        <i class="fa fa-thumbs-o-up fa-3x" rel='tooltip' title="Humor" ng-click="badgeHandler('Humor')">
                            {{badges['Humor'].badgeCount}}</i>
                        </span>
                        <span id="badgeIcon">
                        <i class="fa fa-gear fa-3x" rel='tooltip' title="Editing" ng-click="badgeHandler('Editing')">
                            {{badges['Editing'].badgeCount}}</i>
                        </span>
                        <span id="badgeIcon">
                        <i class="fa fa-bolt fa-3x" rel='tooltip' title="Skilled" ng-click="badgeHandler('Skilled')">
                            {{badges['Skilled'].badgeCount}}</i>
                        </span>
                    </div> 
                    <!--
                    <div class="col-md-4" ng-repeat="(name, badge) in badges" style="display:inline; margin:10px;">
                        <div class="btn btn-default" ng-click="badgeHandler(badge)">{{name}}</div> : {{badge.badgeCount}}
                    </div>
                    -->
                </div> <!-- end row -->
                <br/>

            </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end sub_body -->
    <br/>
    <br/>
    
    <div class="sub_footer">
        <!-- TODO: social integration -->
        <div class="comments list">
            <p> Comments </p>
            
            <div class="row"> <div class="col-md-6">
                <form ng-submit="submitComment()">
                    <div class="form-group">
                        <textarea ng-model="newComment" class="form-control" rows="8" cols="40" class="input-no-width rounded shaded left clearboth" id="msg"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default form-control element-bottom">Leave comment</button>
                </form>
                </div>
            </div> <!-- end row -->
            <br/>

            <div class="row">
            <div class="col-md-8">
            <table class="comment table">
            <!-- TODO: test with mysql, iterate over comments -->
                <tr ng-repeat="comment in comments | orderBy: '+createdAt'">
                    <td> {{ comment.written_by.display_name }} </td>
                    <td> {{ comment.createdAt | date:'MM/dd/yyyy @ h:mma'}} </td>
                    <td> 
                        <div ng-show="editing==comment.id">
                            <textarea ng-model="comment.text" rows="2" cols="40" class="input-no-width rounded shaded left clearboth" id="msg"></textarea>
                        </div>
                        <div ng-show="!(editing==comment.id)">{{ comment.text }}</div> 
                    </td>
                    <td>
                        <div ng-show="comment.written_by.display_name==logState.username" 
                        class="btn btn-default" ng-click="deleteComment(comment)">delete</div>
                    </td>
                    <td>
                        <div ng-show="comment.written_by.display_name==logState.username">
                        <div ng-show="!(editing==comment.id)" class="btn btn-default" ng-click="editComment(comment)">edit</div>
                        <div ng-show="editing==comment.id" class="btn btn-default" ng-click="editDone(comment)">Done</div>
                        </div>
                    </td>
                 </tr>
            </table>
        </div>
        </div>
    </div>
    </div>
</div> <!-- end container fluid -->

<div class="banner_right">
</div>