
.form-control {
  color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
}

/*
  Search view 
*/

#search-option li {
  display: inline;
  padding-right: 5px;
}

#result tr td {
  padding:0 15px 0 15px;
}

#result tr td ul {
  padding: 0px;
}